<mat-toolbar color="primary" class="bg-custom mb-3">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <button mat-icon-button [matTooltip]="'Dashboard'" (click)="backToDashboard()">
    <mat-icon>chevron_left</mat-icon>
  </button>

  <span>Web-Me</span>

  <button class="mx-3" mat-icon-button [matTooltip]="drawer.opened ? 'Hide sections' : 'View sections'" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-raised-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu" [matTooltip]="'Project pages'" aria-label="Example icon-button with heart icon">
    <mat-icon>article</mat-icon>
    {{ currentPage?.pageName }}
  </button>

  <mat-menu backdropClass="pages-menu" #menu="matMenu">
    <button mat-menu-item (click)="navigateToPageForm()">
      <span>Add new page</span>
    </button>
    <ng-container *ngFor="let item of (item$ | async)?.pages">
      <div class="px-3 d-flex flex-row justify-content-between">
        <span>
          {{ item?.pageName }}
        </span>
        <div>
          <button mat-icon-button [matTooltip]="'Edit content'" (click)="selectPageToEditContent(item)">
            <mat-icon>handyman</mat-icon>
          </button>
          <button mat-icon-button [matTooltip]="'Page settings'" (click)="navigateToPageForm(item)">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </ng-container>
  </mat-menu>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" [matTooltip]="'undo'" aria-label="Example icon-button with heart icon">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" [matTooltip]="'redo'" aria-label="Example icon-button with share icon">
    <mat-icon>redo</mat-icon>
  </button>
  <button mat-icon-button class="example-icon favorite-icon" [matTooltip]="'mobile view'" aria-label="Example icon-button with heart icon">
    <mat-icon>phone_android</mat-icon>
  </button>
  <button mat-raised-button color="warn" (click)="updatePageContent()">Save</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    [fixedTopGap]="80"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="d-flex flex-row">
      <ionhour-element-list></ionhour-element-list>
      <ionhour-sub-element-list [moduleName]="moduleName" *ngIf="moduleName"></ionhour-sub-element-list>
    </div>
  </mat-sidenav>
  <mat-sidenav #sidenavComponentOption position="end" [mode]="'side'">
    <ionhour-component-option></ionhour-component-option>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="card m-5 background-grey">
      <div class="card-body p-2">
        <div class="preview-components" cdkDropList (cdkDropListDropped)="drop($event)">
          <ng-container #container></ng-container>
          <!-- <button mat-button (click)="componentOption(sidenavComponentOption)">left</button> -->
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
