.sidenav-container {
  height: calc(100vh - 80px);
}

.sidenav {
  overflow-y: hidden;
  overflow-x: hidden;
  border-right: 2px solid var(--main-color6);
}

.bg-custom {
  box-shadow: 0 0 20px 3px #29a5ff;
  background: linear-gradient(90deg, #1645bf 0%, #20bdff 100%);
}

.preview-components {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-menu-content {
  width: 260px !important;
}

.preview-sections {
  min-height: calc(100vh - 200px);
}
