.sidenav-container {
  height: calc(100vh);
}

.sidenav {
  overflow-y: hidden;
  overflow-x: hidden;
  border-right: 2px solid var(--main-color6);
}

.bg-custom {
  box-shadow: 0 0 20px 3px #29a5ff;
  background: linear-gradient(90deg, #1645bf 0%, #20bdff 100%);
}

::ng-deep .preview-components {
  .themeFont {
    font-family: var(--theme-font) !important;
  }
  display: flex;
  flex-direction: column;
  gap: 5px;
  a {
    pointer-events: none;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-menu-content {
  width: 260px !important;
}

.preview-sections {
  min-height: calc(100vh - 200px);
}

.left-panel {
  right: 0;
  position: fixed;
  padding: 10px 0;
  background: white;
  border-radius: 15px 0 0 10px;
  border-width: 1px 0 1px 1px;
  border-color: #e0e0e0;
  border-style: solid;
  z-index: 1;
  transition: all 0.24s;
  .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.6);
  }
}

.custom-navbar {
  position: fixed;
  z-index: 2;
  transition: all 0.24s;
}
