<mat-toolbar color="primary" class="bg-custom mb-3">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Web-Me</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    [fixedTopGap]="80"
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="d-flex flex-row">
      <ionhour-element-list></ionhour-element-list>
      <ionhour-sub-element-list [moduleName]="moduleName" *ngIf="moduleName"></ionhour-sub-element-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="card m-5 background-grey">
      <div class="card-body p-2">
        <div class="preview-components" cdkDropList (cdkDropListDropped)="drop($event)">
          <ng-container #container></ng-container>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
