/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/scss/bootstrap';

.about-section {
  gap: 15px;
  .card {
    border: none;
  }
}

a {
  text-decoration: none;
}

.background-grey {
  background: #e0e0e0;
}

$light-gray1: #f3f3f3;

.service-a {
  &-list {
    .icon {
      span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }
}

.service-c {
  background-color: $light-gray1;
  .item {
    height: 185px;
  }
}

.service-d {
  .item {
    background-color: $light-gray1;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 768px) {
}
