<div class="auth-container">
  <div class="overlay"></div>
  <mat-card fxFlex.xs="1 1 100%" fxFlex.sm="1 1 75%" fxFlex.md="1 1 50%" fxFlex="1 1 50%" fxLayout="column">
    <section class="auth-head">
      <img class="my-2" src="assets/logo-shape.png" alt="WebMe" width="75" />
      <h2>WebMe | <span>Register</span></h2>
    </section>
    <form [formGroup]="form" (ngSubmit)="register()" fxFlex="1 1 100%" fxLayout="column">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

      <div class="d-flex flex-column align-items-center">
        <a class="my-2 btn w-75 btn-primary d-flex flex-row justify-content-center align-items-center">Continue with Facebook</a>
        <a class="my-2 btn w-75 btn-danger d-flex flex-row justify-content-center align-items-center">Continue with Google</a>
        <div class="help-link">
          <p>
            Already have an account
            <a class="text-primary" routerLink="/auth/login">Login</a>
          </p>
        </div>
        <div class="auth-button-group">
          <button mat-flat-button type="submit" color="primary">Register</button>
          <button mat-flat-button type="reset" color="warn">Reset</button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
