<div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
      <div class="col-4 d-flex flex-row gap-2">
        <button type="submit" class="btn btn-outline-primary" [disabled]="!model?.image">{{'media.upload' | translate}}</button>
        <button type="reset" class="btn btn-outline-danger" [disabled]="!model?.image">{{'media.reset' | translate}}</button>
      </div>
    </div>
  </form>
</div>
<div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="15">
  <ng-container *ngFor="let item of mediaItems?.data">
    <div [ngStyle]="{ 'background-image': 'url(' + item.fileName + ')' }" class="img-thumbnail image-cover my-2"></div>
  </ng-container>
</div>
