.shell {
  // width: max-content;
}
.example-container {
  height: 100vh;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 235px;
  background: #26d5c5;
  overflow: hidden;
  a {
    font-size: 20px;
    &:hover {
      background-color: #000000c9;
      color: #26d5c5;
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}
.toolbar {
  background-color: #26d5c5;
}
.me {
  color: #fff;
}
