<div class="shell">
  <ionhour-header></ionhour-header>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side" class="example-sidenav" opened>
      <mat-list class="h-100">
        <div class="d-flex flex-column justify-content-between h-100">
          <div>
            <div class="d-flex flex-column text-center align-items-center justify-content-center my-3">
              <img class="my-2" src="assets/logo-shape.png" alt="WebMe" width="75" />
              <h3>Web-<span class="me">Me</span></h3>
            </div>
            <!-- <a mat-list-item routerLink="view" routerLinkActive="text-primary">{{ 'DASHBOARD' | translate }}</a>
          <mat-divider></mat-divider> -->
            <a mat-list-item routerLink="view" routerLinkActive="active">{{ 'DASHBOARD' | translate }}</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="profile" routerLinkActive="active">{{ 'PROFILE' | translate }}</a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="projects" routerLinkActive="active">{{ 'PROJECTS' | translate }}</a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="subscriptions" routerLinkActive="active">{{ 'SUBSCRIPTION' | translate }}</a>
            <mat-divider></mat-divider>

            <a mat-list-item routerLink="media" routerLinkActive="active">{{ 'MEDIA_LIBRARY' | translate }}</a>
            <mat-divider></mat-divider>
          </div>
          <a mat-list-item routerLink="/auth/login" routerLinkActive="active">{{ 'LOGOUT' | translate }}</a>
        </div>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content style="overflow: unset">
      <div>
        <mat-toolbar class="toolbar">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span class="example-spacer"></span>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>language</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let language of languages">
              <button mat-menu-item (click)="setLanguage(language)">{{ language | translate }}</button>
            </ng-container>
          </mat-menu>
        </mat-toolbar>
        <div class="p-4">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
