.paren-login {
    .heading-login {
    }
    .card-login {
        .user-name {
            .user-input {
                padding: 10px !important;
                border-radius: 15px !important;
            }
        }
        .password {
            .password-input {
                padding: 10px !important;
                border-radius: 15px !important;
            }
        }
    }
}
