.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  mat-card {
    margin: 0.5rem;
    padding: 2rem;

    .auth-button-group {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
}
