<div class="auth-container">
  <mat-card fxFlex.xs="1 1 100%" fxFlex.sm="1 1 75%" fxFlex.md="1 1 50%" fxFlex.lg="33.33%" fxLayout="column">
    <section class="auth-head">
      <h2>WebMe | Login</h2>
    </section>
    <form [formGroup]="form" (ngSubmit)="login()" fxFlex="1 1 100%" fxLayout="column">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <div class="help-link">
        <p>
          Doesn't have account
          <a routerLink="/auth/register">Register</a>
        </p>
      </div>
      <div class="auth-button-group">
        <button mat-flat-button type="submit" color="primary">Login</button>
        <button mat-flat-button type="reset">Reset</button>
      </div>
    </form>
  </mat-card>
</div>
