.auth-container {
  background-image: url(../../../../../assets/2.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: auto;
  mat-card {
    background: #6b887987;
    border-radius: 15px;
    color: #fff;
    padding: 60px !important;

    // -webkit-transform: skewX(-20.5deg);
    // transform: skewX(346deg);
    // -webkit-transform-origin: 100% 0;
    // transform-origin: 100% 0;
  }
  .auth-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      span {
        color: #71c230;
      }
    }
    p {
      margin: 0;
    }
  }

  mat-card {
    margin: 0.5rem;
    padding: 2rem;
    background-image: rgb(232, 209, 209);
    background-size: cover;

    .auth-button-group {
      margin-top: 1rem;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 18px;

      button {
        width: 95px;
      }
    }

    .help-link {
      margin-left: 10px;

      a {
        font-size: 0.9rem;
        text-decoration: none;
        color: #112f46;
      }
    }
  }
}
::ng-deep .email-input {
  // background-color: red !important;
}
