<div class="d-flex flex-column">
  <div class="pb-2 d-flex flex-row align-items-baseline">
    <a mat-icon-button routerLink="/dashboard/projects" matTooltip="Back" aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>chevron_left</mat-icon>
    </a>
    <h3 class="m-0 p-0">{{ isEdit ? 'Edit Project' : 'Add Project' }}</h3>
  </div>
  <mat-card fxFlex.xs="1 1 100%" fxFlex.sm="1 1 100%" fxFlex.md="1 1 50%" fxFlex.lg="33.33%" fxLayout="column">
    <form [formGroup]="form" (ngSubmit)="submit(model)" fxFlex="1 1 100%" fxLayout="column">
      <formly-form [form]="form" [fields]="fields" [model]="model">
        <div class="d-flex justify-content-end">
          <button mat-flat-button type="submit" color="primary">Submit</button>
          <button mat-flat-button type="reset">Reset</button>
        </div>
      </formly-form>
    </form>
  </mat-card>
</div>
